.stack-work/
_pier
node_modules
.shake
*.cabal
public
~*
#*#
.#*#
webcheck.dat
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
.stack-work/
cabal.sandbox.config
cloudflare.sh
*.prof
*.aux
*.hp
#*
#*#
.#*
*~
log
*.dump-hi
.DS_Store
config/config.yaml
